[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Python Language Support
Comment[bg]=Поддръжка на езика Python
Comment[bs]=Podrška za Python jezik
Comment[ca]=Implementació del llenguatge Python
Comment[ca@valencia]=Implementació del llenguatge Python
Comment[da]=Sprogunderstøttelse for Python
Comment[de]=Sprachunterstützung für Python
Comment[el]=Υποστήριξη γλώσσας Python
Comment[en_GB]=Python Language Support
Comment[es]=Implementación del lenguaje Python
Comment[et]=Pythoni keele toetus
Comment[fi]=Python-kielituki
Comment[fr]=Prise en charge du langage Python
Comment[ga]=Tacaíocht Python
Comment[gl]=Compatibilidade coa linguaxe Python.
Comment[hne]=पायथन भाखा समर्थन
Comment[hu]=Python nyelvi támogatás
Comment[it]=Supporto per il linguaggio Python
Comment[kk]=Python тілін қолдауы
Comment[mr]=पायथोन भाषा समर्थन
Comment[nb]=Støtte for Python-språket
Comment[nds]=Ünnerstütten för Python
Comment[nl]=Ondersteuning voor de taal Python
Comment[pa]=ਪਾਈਥਨ ਲੈਗੂਇਜ਼ ਸਹਿਯੋਗ
Comment[pl]=Obsługa języka Python
Comment[pt]=Suporte para a Linguagem Python
Comment[pt_BR]=Suporte à linguagem Python
Comment[ro]=Suport pentru limbajul Python
Comment[ru]=Поддержка языка Python
Comment[sk]=Podpora jazyka Python
Comment[sl]=Podpora jeziku Python
Comment[sv]=Stöd för språket Python
Comment[tr]=Python Dil Desteği
Comment[uk]=Підтримка мови Python
Comment[x-test]=xxPython Language Supportxx
Comment[zh_CN]=Python 语言支持
Comment[zh_TW]=Python 語言支援
Name=Python Support
Name[bg]=Поддръжка на Python
Name[bs]=Python podrška
Name[ca]=Implementació de Python
Name[ca@valencia]=Implementació de Python
Name[cs]=Podpora Pythonu
Name[da]=Understøttelse af Python
Name[de]=Unterstützung für Python
Name[el]=Υποστήριξη Python
Name[en_GB]=Python Support
Name[es]=Implementación de Python
Name[et]=Pythoni toetus
Name[fi]=Python-tuki
Name[fr]=Prise en charge de Python
Name[ga]=Tacaíocht Python
Name[gl]=Compatibilidade con Python
Name[hu]=Python-támogatás
Name[it]=Supporto per Python
Name[kk]=Python қолдауы
Name[mr]=पायथोन समर्थन
Name[nb]=Støtte for Python
Name[nds]=Python-Ünnerstütten
Name[nl]=Ondersteuning voor Python
Name[pl]=Obsługa Python
Name[pt]=Suporte para Python
Name[pt_BR]=Suporte à Python
Name[ro]=Suport pentru Python
Name[ru]=Поддержка Python
Name[sk]=Podpora Pythonu
Name[sl]=Podpora Pythonu
Name[sv]=Python-stöd
Name[tr]=Python Desteği
Name[ug]=Python قوللىشى
Name[uk]=Підтримка Python
Name[x-test]=xxPython Supportxx
Name[zh_CN]=Python 支持
Name[zh_TW]=Python 支援
GenericName=Python Support
GenericName[bg]=Поддръжка на Python
GenericName[bs]=Python podrška
GenericName[ca]=Implementació de Python
GenericName[ca@valencia]=Implementació de Python
GenericName[cs]=Podpora Pythonu
GenericName[da]=Understøttelse af Python
GenericName[de]=Unterstützung für Python
GenericName[el]=Υποστήριξη Python
GenericName[en_GB]=Python Support
GenericName[es]=Implementación de Python
GenericName[et]=Pythoni toetus
GenericName[fi]=Python-tuki
GenericName[fr]=Prise en charge de Python
GenericName[ga]=Tacaíocht Python
GenericName[gl]=Compatibilidade con Python
GenericName[hne]=पायथन समर्थन
GenericName[hu]=Python-támogatás
GenericName[it]=Supporto per Python
GenericName[kk]=Python қолдауы
GenericName[mr]=पायथोन समर्थन
GenericName[nb]=Støtte for Python
GenericName[nds]=Python-Ünnerstütten
GenericName[nl]=Ondersteuning voor Python
GenericName[pa]=ਪਾਈਥਨ ਸਹਿਯੋਗ
GenericName[pl]=Obsługa Python
GenericName[pt]=Suporte para Python
GenericName[pt_BR]=Suporte à Python
GenericName[ro]=Suport pentru Python
GenericName[ru]=Поддержка Python
GenericName[sk]=Podpora Pythonu
GenericName[sl]=Podpora Pythonu
GenericName[sv]=Python-stöd
GenericName[tr]=Python Desteği
GenericName[ug]=Python قوللىشى
GenericName[uk]=Підтримка Python
GenericName[x-test]=xxPython Supportxx
GenericName[zh_CN]=Python 支持
GenericName[zh_TW]=Python 支援
ServiceTypes=KDevelop/Plugin
Icon=text-x-python
X-KDE-Library=kdevpythonlanguagesupport
X-KDevelop-Version=17
X-KDevelop-Language=Python
X-KDevelop-Args=PYTHON
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-python
X-KDE-PluginInfo-Name=kdevpythonsupport
X-KDevelop-Mode=NoGUI
X-KDE-PluginInfo-Category=Language Support
