[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Python Language Support
Comment[el]=Υποστήριξη γλώσσας Python
Comment[es]=Soporte de lenguaje Python
Comment[et]=Pythoni keele toetus
Comment[fr]=Prise en charge du langage Python
Comment[ga]=Tacaíocht Python
Comment[gl]=Soporte de Python
Comment[nds]=Ünnerstütten för Python
Comment[pa]=ਪਾਈਥਨ ਲੈਗੂਇਜ਼ ਸਹਿਯੋਗ
Comment[pt]=Suporte para a Linguagem Python
Comment[pt_BR]=Suporte à linguagem Python
Comment[sv]=Stöd för språket Python
Comment[tr]=Python Dil Desteği
Comment[uk]=Підтримка мови Python
Comment[x-test]=xxPython Language Supportxx
Name=KDevPythonSupport
Name[sv]=KDevelop Python-stöd
Name[x-test]=xxKDevPythonSupportxx
GenericName=Python Support
GenericName[el]=Υποστήριξη Python
GenericName[es]=Soporte Python
GenericName[et]=Pythoni toetus
GenericName[fr]=Prise en charge de Python
GenericName[ga]=Tacaíocht Python
GenericName[gl]=Soporte de Python
GenericName[nds]=Python-Ünnerstütten
GenericName[pa]=ਪਾਈਥਨ ਸਹਿਯੋਗ
GenericName[pt]=Suporte para Python
GenericName[pt_BR]=Suporte a Python
GenericName[sv]=Python-stöd
GenericName[tr]=Python Desteği
GenericName[uk]=Підтримка Python
GenericName[x-test]=xxPython Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevpythonlanguagesupport
X-KDevelop-Version=6
X-KDevelop-Language=Python
X-KDevelop-Args=PYTHON
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-python
X-KDE-PluginInfo-Name=kdevpythonsupport
X-KDevelop-Mode=NoGUI
