[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Python Language Support
Name=Python Support
GenericName=Python Support
ServiceTypes=KDevelop/Plugin
Icon=text-x-python
X-KDE-Library=kdevpythonlanguagesupport
X-KDevelop-Version=15
X-KDevelop-Language=Python
X-KDevelop-Args=PYTHON
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-python
X-KDE-PluginInfo-Name=kdevpythonsupport
X-KDevelop-Mode=NoGUI
X-KDE-PluginInfo-Category=Language Support
