[Desktop Entry]
Icon=view-filter
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevpythonproject
X-KDE-FactoryName=kcm_kdevpythonproject
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL

Name=Python project settings
Comment=Settings for Python files in this project
