[Desktop Entry]
Icon=text-x-python
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_docfiles
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Python documentation data
Name[da]=Python dokumentationsdata
Name[de]=Python-Dokumentationdaten
Name[el]=Δεδομένα τεκμηρίωσης Python
Name[es]=Datos de documentación para Python
Name[fi]=Python-dokumentaatiodata
Name[fr]=Données de documentation pour Python
Name[hu]=Python dokumentációs adatok
Name[it]=Dati della documentazione di Python
Name[mr]=पायथोन दस्तऐवजीकरण डेटा
Name[nl]=Gegevens voor Python-documentatie
Name[pt]=Dados de documentação do Python
Name[pt_BR]=Dados de documentação do Python
Name[sk]=Údaje dokumentácie Python
Name[sl]=Podatki dokumentacije za Python
Name[sv]=Python-dokumentationsdata
Name[tr]=Python belgelendirme verisi
Name[uk]=Дані документації Python
Name[x-test]=xxPython documentation dataxx
Comment=Manage documentation files used by the Python plugin
Comment[da]=Håndtér dokumentationsfiler som bruges af Python-pluginet
Comment[de]=Verwaltet Dokumentationsdateien, die vom Pythonmodul verwendet werden
Comment[el]=Διαχείριση αρχείων τεκμηρίωσης που χρησιμεύουν στο πρόσθετο Python
Comment[es]=Gestionar archivos de documentación usados por el complemento de Python
Comment[fi]=Hallitse Python-liitännäisen käyttämiä dokumentaatiotiedostoja
Comment[fr]=Gère les fichiers de documentation utilisés par le module externe Python
Comment[hu]=Dokumentációs fájlok kezelése a Python bővítmény használatával
Comment[it]=Gestisce i file della documentazione usati dall'estensione Python
Comment[mr]=पायथोन प्लगइन द्वारे वापरल्या जाणारे दस्तऐवजीकरण व्यवस्थापीत करा
Comment[nl]=Documentatiebestanden beheren gebruikt door de plug-in van Python
Comment[pt]=Gerir os ficheiros de documentação usados pelo 'plugin' de Python
Comment[pt_BR]=Gerencia os arquivos de documentação usados pelo plugin de Python
Comment[sk]=Spravovať súbory dokumentácie použité pluginom Python
Comment[sl]=Upravljajte z datotekami dokumentacije, ki jih uporablja vstavek za Python
Comment[sv]=Hantera dokumentationsfiler som används av Python-insticksprogrammet
Comment[tr]=Pyhton eklentiis tarafından kullanılan belgelendirme dosyalarını yönetin
Comment[uk]=Керування файлами документації, що використовуються додатком Python
Comment[x-test]=xxManage documentation files used by the Python pluginxx
