[Desktop Entry]
Icon=text-x-python
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_docfiles
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Python documentation data
Name[nl]=Gegevens voor Python-documentatie
Name[pt]=Dados de documentação do Python
Name[sk]=Údaje dokumentácie Python
Name[uk]=Дані документації Python
Name[x-test]=xxPython documentation dataxx
Comment=Manage documentation files used by the Python plugin
Comment[nl]=Documentatiebestanden beheren gebruikt door de plug-in van Python
Comment[pt]=Gerir os ficheiros de documentação usados pelo 'plugin' de Python
Comment[sk]=Spravovať súbory dokumentácie použité pluginom Python
Comment[uk]=Керування файлами документації, що використовуються додатком Python
Comment[x-test]=xxManage documentation files used by the Python pluginxx
