[Desktop Entry]
Icon=text-x-python
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_pep8
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Python style checking
Name[bs]=Provjera stila za Python
Name[ca]=Comprovació de l'estil de Python
Name[ca@valencia]=Comprovació de l'estil de Python
Name[da]=Python stiltjek
Name[de]=Python-Stilüberprüfung
Name[es]=Comprobación del estilo de Python
Name[fi]=Pythonin tyylin tarkistus
Name[fr]=Contrôle de styles de Python
Name[gl]=Comprobación do estilo de Python
Name[it]=Controllo stile Python
Name[kk]=Python стилін тексеру
Name[nb]=Sjekk Python-stil
Name[nl]=Controleren in de stijl van Python
Name[pt]=Verificação do estilo de Python
Name[pt_BR]=Verificação do estilo de Python
Name[sk]=Kontrola štýly Python
Name[sl]=Preverjanje sloga Pythona
Name[sv]=Python-stilkontroll
Name[tr]=Python biçem denetimi
Name[uk]=Перевірка стилю програмування Python
Name[x-test]=xxPython style checkingxx
Name[zh_TW]=Python 樣式檢查
