[Desktop Entry]
Icon=text-x-python
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_pep8
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Python style checking
Name[de]=Python-Stilüberprüfung
Name[el]=Έλεγχος στιλ Python
Name[es]=Comprobación del estilo de Python
Name[hu]=Python stílus ellenőrzés
Name[mr]=पायथोन शैली तपासणी
Name[nl]=Controleren in de stijl van Python
Name[pt]=Verificação do estilo de Python
Name[pt_BR]=Verificação do estilo de Python
Name[sk]=Kontrola štýly Python
Name[sv]=Python-stilkontroll
Name[tr]=Python biçem denetimi
Name[uk]=Перевірка стилю програмування Python
Name[x-test]=xxPython style checkingxx
