[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for PDB
Comment[bs]=Ovaj dodatak pruža prikaz za PDB
Comment[ca]=Aquest connector proveeix d'un frontal pel PDB
Comment[de]=Dieses Modul stellt eine Oberfläche für PDB zur Verfügung.
Comment[es]=Este complemento proporciona una interfaz para PDB
Comment[fi]=Tämä liitännäinen tarjoaa PDB-käyttöliittymän
Comment[fr]=Ce module externe fournit une interface pour PDB
Comment[gl]=Este complemento fornece unha interface para PDB.
Comment[it]=Questa estensione fornisce un'interfaccia per PDB
Comment[kk]=Бұл плагин PDB-ге интерфейс жасайды
Comment[nb]=Dette programtillegget er et forstykke til PDB
Comment[nl]=Deze plugin levert een frontend voor PDB
Comment[pt]=Este 'plugin' oferece uma interface para o PDB
Comment[pt_BR]=Este plugin fornece uma interface para o PDB
Comment[sk]=Tento plugin poskytuje rozhranie pre PDB
Comment[sl]=Ta vstavek ponuja začelje za PDB
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för PDB
Comment[tr]=Bu eklenti PDB için bir önuç sağlar
Comment[uk]=Додаток, який є оболонкою до PDB
Comment[x-test]=xxThis plugin provides a frontend for PDBxx
Comment[zh_TW]=提供 Python 除錯器前端介面的外掛程式
Name=kdevpdb
Name[bs]=kdevpdb
Name[ca]=kdevpdb
Name[de]=kdevpdb
Name[es]=kdevpdb
Name[fi]=kdevpdb
Name[fr]=kdevpdb
Name[gl]=kdevpdb
Name[it]=kdevpdb
Name[kk]=kdevpdb
Name[nb]=kdevpdb
Name[nl]=kdevpdb
Name[pt]=kdevpdb
Name[pt_BR]=kdevpdb
Name[sk]=kdevpdb
Name[sl]=kdevpdb
Name[sv]=kdevpdb
Name[tr]=kdevpdb
Name[uk]=kdevpdb
Name[x-test]=xxkdevpdbxx
Name[zh_TW]=kdevpdb
GenericName=Python Debugger Frontend
GenericName[bs]=Prikazni program za Python debager
GenericName[ca]=Frontal del depurador de Python
GenericName[de]=Oberfläche für Python-Debugger
GenericName[es]=Interfaz de depurador para Python
GenericName[fi]=Python Debugger -käyttöliittymä
GenericName[fr]=Interface pour le débogueur Python
GenericName[gl]=Interface de depuración de Python
GenericName[it]=Interfaccia debugger Python
GenericName[kk]=Python жөндегіш интерфейсі
GenericName[nb]=Grensesnitt for Python-feilsøker
GenericName[nl]=Frontend voor Python-debugger
GenericName[pt]=Interface para o Depurador de Python
GenericName[pt_BR]=Interface do depurador Python
GenericName[sk]=Rozhranie debuggera Python
GenericName[sl]=Začelje razhroščevalnika za Python
GenericName[sv]=Python avlusargränssnitt
GenericName[tr]=Python Hata Ayıklayıcı Ön Ucu
GenericName[uk]=Оболонка зневадника Python
GenericName[x-test]=xxPython Debugger Frontendxx
GenericName[zh_TW]=Python 除錯器前端介面
Icon=text-x-python
X-KDE-Library=kdevpdb
X-KDevelop-Category=Global
X-KDevelop-Version=16
X-KDE-PluginInfo-Name=kdevpdb
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Debugging
X-KDevelop-IRequired=org.kdevelop.IExecuteScriptPlugin
ServiceTypes=KDevelop/Plugin
X-KDevelop-Mode=GUI
