[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for PDB
Comment[nl]=Deze plugin levert een frontend voor PDB
Comment[pt]=Este 'plugin' oferece uma interface para o PDB
Comment[pt_BR]=Este plugin fornece uma interface para o PDB
Comment[sk]=Tento plugin poskytuje rozhranie pre PDB
Comment[uk]=Додаток, який є оболонкою до PDB
Comment[x-test]=xxThis plugin provides a frontend for PDBxx
Name=kdevpdb
Name[nl]=kdevpdb
Name[pt]=kdevpdb
Name[pt_BR]=kdevpdb
Name[sk]=kdevpdb
Name[uk]=kdevpdb
Name[x-test]=xxkdevpdbxx
GenericName=Python Debugger Frontend
GenericName[nl]=Frontend voor Python-debugger
GenericName[pt]=Interface para o Depurador de Python
GenericName[pt_BR]=Interface do depurador Python
GenericName[sk]=Rozhranie debuggera Python
GenericName[uk]=Оболонка зневадника Python
GenericName[x-test]=xxPython Debugger Frontendxx
Icon=text-x-python
X-KDE-Library=kdevpdb
X-KDevelop-Category=Global
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=kdevpdb
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Debugging
X-KDevelop-IRequired=org.kdevelop.IExecuteScriptPlugin
ServiceTypes=KDevelop/Plugin
X-KDevelop-Mode=GUI
