[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for PDB
Comment[de]=Dieses Modul stellt eine Oberfläche für PDB zur Verfügung.
Comment[es]=Este complemento proporciona una interfaz para PDB
Comment[et]=PDB kasutajaliidese plugin
Comment[fr]=Ce module externe fournit une interface pour PDB
Comment[hu]=Ez a bővítmény egy felületet biztosít a PDB-hez
Comment[nl]=Deze plugin levert een frontend voor PDB
Comment[pl]=Wtyczka ta zapewnia nakładkę graficzną dla PDB
Comment[pt]=Este 'plugin' oferece uma interface para o PDB
Comment[pt_BR]=Este plugin fornece uma interface para o PDB
Comment[sk]=Tento plugin poskytuje rozhranie pre PDB
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för PDB
Comment[uk]=Додаток, який є оболонкою до PDB
Comment[x-test]=xxThis plugin provides a frontend for PDBxx
Name=kdevpdb
Name[de]=kdevpdb
Name[es]=kdevpdb
Name[et]=kdevpdb
Name[fr]=kdevpdb
Name[hu]=kdevpdb
Name[nl]=kdevpdb
Name[pl]=kdevpdb
Name[pt]=kdevpdb
Name[pt_BR]=kdevpdb
Name[sk]=kdevpdb
Name[sv]=kdevpdb
Name[uk]=kdevpdb
Name[x-test]=xxkdevpdbxx
GenericName=Python Debugger Frontend
GenericName[de]=Oberfläche für Python-Debugger
GenericName[es]=Interfaz del depurador de Python
GenericName[et]=Pythoni siluri kasutajaliides
GenericName[fr]=Interface pour le débogueur Python
GenericName[hu]=Python hibakövetési felület
GenericName[nl]=Frontend voor Python-debugger
GenericName[pl]=Nakładka graficzna na debugger Pythona
GenericName[pt]=Interface para o Depurador de Python
GenericName[pt_BR]=Interface do depurador Python
GenericName[sk]=Rozhranie debuggera Python
GenericName[sv]=Python avlusargränssnitt
GenericName[uk]=Оболонка зневадника Python
GenericName[x-test]=xxPython Debugger Frontendxx
Icon=debugger
X-KDE-Library=kdevpdb
X-KDevelop-Category=Global
X-KDevelop-Version=14
X-KDE-PluginInfo-Name=kdevpdb
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Debugging
X-KDevelop-IRequired=org.kdevelop.IExecuteScriptPlugin
ServiceTypes=KDevelop/Plugin
X-KDevelop-Mode=GUI
